// Variables

// Styles
.songs-list {

    @include if-is-tablet {
        display: flex;
        flex-wrap: wrap;
    }

    .song {
        @extend .clearfix;
        border-bottom: 1px solid $color-grey;

        @include if-is-tablet {
            box-sizing: border-box;
            width: 20%; // calc(20% - 20px);
            text-align: center;
            padding: 10px;
        }

        .cover {
            width: 60px;
            float: left;
            margin-right: 10px;
            @include if-is-tablet {
                width: 100%;
                margin-bottom: 10px;
            }
        }
        .delete-button {
            cursor:pointer;
            float: right;
            margin: 20px 10px 0 0;
            @include if-is-tablet {
                float: none;
                margin: 0;
            }
        }
        .artist {
            margin-top: 15px;
            font-weight: bold;
        }
        .artist, .title {
            display: block;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            height: 16px;
            @include if-is-tablet {
                padding-right: 0px;
            }
        }
    }
}